<div>
  <li class="flex-container-no">
    <img src="{{'customer_support.png' | asset_url}}" class="brand-promise-icon" />
    <span>Customer Support 7 Days a Week</span>
  </li>
</div>
<div>
  <li class="flex-container-no">
    <img src="{{'usa.png' | asset_url}}" class="brand-promise-icon" />
    <span>USA Made</span>
  </li>
</div>
<div>
  <li class="flex-container-no">
    <img src="{{'5-star.png' | asset_url}}" class="brand-promise-icon" />
    <span>4,300+ Five Star Reviews</span>
  </li>
</div>
<div>
  <li class="flex-container-no">
    <img src="{{'fastshipping.png' | asset_url}}" class="brand-promise-icon" />
    <span>Fast Shipping</span>
  </li>
</div>

