<div style="display: none;" id="display-bundle" class="sizing-chart border-lightgray modal">
  <div class="accent-padding">
   <p class="nm klaviyo_header_close tar clickable">✕</p>
   <h3 class="text-green tac nmb">Bundle and Save</h3>
   <p class="tac nmt">Mix and Match <span>Any Style SITEWIDE</span></p>
  <table>
    <tr>
      <th class="t-size table-title">Pairs</th>
      <th class="t-size table-title">Price</th>
    </tr>
    <tr class="lg">
      <td>1</td>
      <td>$18.00</td>
    </tr>
    <tr class="dg">
      <td>2</td>
      <td><span class="strikethrough">$36.00</span> $32.00</td>
    </tr>
    <tr class="lg">
      <td>3</td>
      <td><span class="strikethrough">$54.00</span> $42.00</td>
    </tr>
    <tr class="dg">
      <td>4</td>
      <td><span class="strikethrough">$72.00</span> $48.00</td>
    </tr>
     <tr class="lg">
      <td>5+</td>
      <td><span class="strikethrough">$90.00+</span> $60.00+<br>& Free Shipping!</td>
    </tr>
  </table>
  <p class="tac subscript">No discount code needed, discount will<br class="mo"> automatically<br class="do"> apply at checkout</p>
</div>
</div>
<script>

// bundles info 
$(document).ready(function() {
$('.info-icon, .info-banner, .button-trigger').click(function() {
  $('#display-bundle').fadeIn(); 
  $('header, main, footer, #banner-cta, .index-sections, .mobile-nav1').addClass('darken');
  ga('send', 'event', 'Bundles', 'Bundles Shown', '{{template.name}}');

})
}); 

</script>

<style>
  #display-bundle span.strikethrough { font-weight: lighter !important; }
</style>