

 <div class="modal modal-newsletter" id="newsletter_popup3" style="display:none;">
  
<style>
  .welcomeab { display: none; }
  .originalab { display: inherit; }
</style>
  <div class="background-green tac flex-container-no" id="container-news">
    <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="hide_on_submit klaviyo_subscription_form">
      <input type="hidden" name="g" value="Ai9wnf">
       <h1 class="text-white nm hide_on_submit originalab">Over 30% Off</h1>
        <h1 class="text-white nm hide_on_submit welcomeab">First Order Discount</h1>
          <p class="hide_on_submit text-white nmt welcomeab"><span>Over 30% off by unlocking $12 Gekks</span></p>  

           <p class="hide_on_submit text-white nmt originalab"><span>by unlocking $12 Gekks</span></p>  
  
      <p class="nmt"></p>
      <input type="email" id="newsletter_popup_$email" class="newsletter_email hide_on_submit" name="email" placeholder="enter email">
      <div class="klaviyo_form_actions hide_on_submit">
        
       <div class="do">
          <button type="submit" class="klaviyo_submit_button border-white"><span>let's go!</span></button> 
       </div> 
         <div class="mo">
          <button type="submit" class="klaviyo_submit_button border-white"><span>sign up</span></button> 
          <div class="voxie-text-us">
            <a href="https://inboundtxt.com/t/RxwJEWO"><div class="voxie-text-button border-white"><span>Or Sign Up with Phone</span></div></a>
          </div>       
        </div>
      </div>
      <p class="text-white hide_on_submit do">Stay in the know with <br><b>exclusive deals</b></p>
      <p class="nmt klaviyo_header_close tac text-white clickable hide_on_submit" style="font-size: 10pt; margin-top: 10px; text-decoration: underline;"><span>decline 30% off</span></p>
      <div class="error_message subscript" style="display: none;"></div> 
    </form>
    <div class="success_message"></div>
  </div>
</div>  
<script>
$(document).ready(function(){ 
  var flowFinish = readCookie('flowFinish')
  var gekksVisit = readCookie('gekksVisit')
  var newsletterModal = readCookie('newsletterModal')
  if ((flowFinish) && (gekksVisit) && !(newsletterModal) && $('.mobile-nav1:visible').length == 0){
    setTimeout(function(){
      $('.modal').removeClass('darken')
      if ($('.modal:visible').length == 0) {
        KlaviyoSubscribe.attachToModalForm('.modal-newsletter', {
          delay_seconds: 0,  
          ignore_cookie: true,
          success_message: "<div class='success_feedback accent-padding'><div class='accent-padding'><p class='nmt klaviyo_header_close_news tac clickable' style='font-size: 12pt;' onclick='closeWelcomePop()'>X</p><h2 class='nm'>Thank you!</h2><h3>You've unlocked $12 Gekks when you purchase 3 or more pairs.</h3><p class='tac'>Discount will be automatically applied in checkout</p></div></div>",
           success: function ($form) {
            createCookie("emailSignUp", "popup", 14)
            $('#container-news').css("background-image", "none"); 
      $('#success-close').show();
      ga('send', 'event', 'Acquisition', 'Pop Up', 'Website');
             
      $form.hide().find('.hide_on_submit').hide();
  {% if template contains 'product' %}
      {% if product.title != "Men's Closet Pack" %}
        $('.price, body #moprice').attr('style', 'display: none !important;')
        $('.priceu').show();
        console.log('here')
      {% endif %}
    {% endif %}

    },
  });  
  };
    createCookie("newsletterModal", "Displayed", 5)
    $('.index-sections, main, header, footer, #banner-cta, .mobile-nav1').addClass('darken')
   }, 3000); 
  }
}); 


</script>

{% comment %} Exit Intent {% endcomment %}
<div class="modal" id="exit_offer" style="display:none;">
  <div class="background-lightgray accent-padding tac exitpop">
  <p class="tar nmt klaviyo_header_close clickable">✕</p>
   <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
    <input type="hidden" name="g" value="zEZHLa"> 
    <div class="hide_on_submit">
      <h1 class="accent-padding border-white nm">Wait!</h1> 
      <p class="text-green">Get 10% off your first $30 order.<br> You'll also receive <b>exclusive discounts</b></p>
      <div class="klaviyo_fieldset hide_on_submit">
      <div class="klaviyo_field_group">
        <input type="email" id="newsletter_popup_$email" name="email"></div>
      </div> 
     <div class="">
      <div class="klaviyo_form_actions hide_on_submit">
        <div class="do">
          <button type="submit" class="klaviyo_submit_button"><span>Get My Discount!</span></button>
        </div>

      </div>
      </div>
        <div class="mo">
        <div class="klaviyo_form_actions hide_on_submit">
          <button type="submit" class="klaviyo_submit_button"><span>Sign Up with Email</span></button>
        </div>
        <div class="voxie-text-us">
          <a href="https://inboundtxt.com/t/ax6q3W3"><div class="voxie-text-button"><span>Or Sign Up with Phone</span></div></a>
        </div>
      </div>
    </div>
   <p class="error_message subscript tac" style="display: none;"></p>
   </form>
   <div class="success_message" ></div>
  </div>
</div>
<script>
  $('.voxie-text-button').click(function() {
    $(this).closest('.modal').hide(); 
    ga('send', 'event', 'Acquisition', 'Voxie', 'Website');
  })
</script>
<script>
$(document).ready(function(){
  var executed = false 
  if (!sessionStorage.exitAttempted) {
   $(document).on('mouseleave', leaveFromTop);
      function leaveFromTop(e){
        if ($('.modal:visible').length == 0 && (e.clientY < 0 ) && (!executed) && $('.mobile-nav1:visible').length == 0) {
          console.log($('.mobile-nav1:visible').length)

            $('.modal').removeClass('darken')
            KlaviyoSubscribe.attachToModalForm('#exit_offer', {
              success_message: "<div class='success_feedback accent-padding'><div class='accent-padding border-white'><h2>Thank you!</h2><h3>Use the discount code below to receive 10% off your first order over $30 USD</h3><h2 class='text-green'>GEKKS10</h2></div>",
              ignore_cookie: true, 
              delay_seconds: 0.1,
              success: function ($form) {
                          createCookie("emailSignUp", "exit", 14)

              $form.find('.hide_on_submit').hide();
              ga('send', 'event', 'Acquisition', 'Exit Offer', 'Website');
              },
            }); 
            executed = true 
            sessionStorage.exitAttempted = 1    
                $('.index-sections, main, header, footer, #banner-cta, .mobile-nav1').addClass('darken')
      
      }; 
    };
  };
});
</script>

