

<div class="postpurchase" style="display: none;">
  <div class="close" style="cursor:pointer;" onclick=" ga('send', 'event', 'Referral Source', 'Closed', clickCount)">✕</div>
  <div class="flex-container-no tac">
    <div>
      <h2>We're working on more antimicrobial & antiodor products! What would you be most excited about us making?</h2>
      <p class="nmt subscript">Select as many as you'd like in order of what you'd prefer!</p>
      <ul id="post-purchase-stores">
        <li id="phone" onclick="ga('send', 'event', 'Silver', 'Phone Case', clickCount);"><p>Phone Case</p></li>
        <li id="pillow" onclick="ga('send', 'event', 'Silver', 'Pillowcase', clickCount);"><p>Pillowcase</p></li>
        <li id="bedding" onclick="ga('send', 'event', 'Silver', 'Bedding', clickCount);"><p>Bedding</p></li>
        <li id="bathroom-towel" onclick="ga('send', 'event', 'Silver', 'Bathroom Towels', clickCount);"><p>Bathroom Towels</p></li>
        <li id="dish-towel" onclick="ga('send', 'event', 'Silver', 'Dish Towel', clickCount);"><p>Dish Towel</p></li>
        <li id="underwear" onclick="ga('send', 'event', 'Silver', 'Underwear', clickCount);"><p>Underwear</p></li>
        <li id="hat" onclick="ga('send', 'event', 'Silver', 'Hat', clickCount);"><p>Hat</p></li>
      </ul>
    </div>
   
  </div>
</div>

 <script>
   var clickCount = 0 
  $('.postpurchase #post-purchase-stores li').click(function() {
    clickCount += 1 
   $(this).addClass('referral-selected');
    }  ); 
  $('.close').click(function(){
    $('.postpurchase').hide(); 
  }); 

</script>
<script>
// var ul = document.querySelector('#post-purchase-list');
// for (var i = ul.children.length; i >= 0; i--) {
//     ul.appendChild(ul.children[Math.random() * i | 0]);
// }
var ul = document.querySelector('#post-purchase-stores');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}
</script>

<style>
     .referral-selected {background: #6DCDB8;}

</style>