<main id="hiw-page">	     
  <section class="background-green tac page-header">
	<h1 class="nmb">No More FOFO.</h1>
	<h2 class="nmt">(Fear of foot odor)</h2>
  </section>

<div id="int-wrapper">
  <div id="moisture" class="tal">
    <h4 class="nm">Moisture Wicking</h4>
    <p class="subscript nm">our fibers work to pull the moisture<br> out of your feet for a dry feel.</p>
  </div>
  <div id="patented" class="tal">
    <h4 class="nm">Patented Fastening System</h4>
    <p class="subscript nm">micro-thin adhesive fastener connects<br> the sock to the inside of your shoe.</p>
  </div>
  <div id="odor" class="tal"> 
    <h4 class="nm">Odor Eliminating Yarn</h4>
    <p class="subscript nm">Gekks are knit with high-tech silver<br> anti-microbial yarn to eliminate<br> odor as you sweat.</p>
  </div>
  <div id="no-show-really" class="tal">
    <h4 class="nm">No Show, Really</h4>
    <p class="subscript nm">Gekks line the interior of your shoe<br> providing a complete<br> no show solution.</p>
  </div>
</div>
  <section class="index-padding flex-container">
    <div>
      <div class="title-border"></div>
      <h2>Gekks utilizes silver coated fiber which is FDA-cleared and CE-approved</h2>
      <p>It is a registered antimicrobial product line with the United States Environmental Protection Agency (EPA). This is the same product used by the US Marines and NASA.</p>
    </div>
  </section>
  <section class="background-lightgray tac index-padding">
    <h2 class="tac">Explore the Benefits of Silver</h2>
    <div class="flex-container">
       <ul class="icon-display">
          <li data-aos="slide-up"><img data-src="{{'clinicallyproven.svg' | asset_url}}" alt="Clinically Proven" class="lazyload"/><br><p><b class="text-green">clinically proven</b><br>third party testing supports 99.9% reduction of bacteria on fabric</p></li> 
          <li data-aos="slide-up"><img data-src="{{'permanent.svg' | asset_url}}" alt="Permanent" class="lazyload"/><br><p><b class="text-green">permanent</b><br>does not wash out at >200 industrial launderings</p></li> 
          <li data-aos="slide-up"><img data-src="{{'odorfree.svg' | asset_url}}" alt="Odor Free" class="lazyload"/><br><p><b class="text-green">odor free</b><br>Keeps your apparel smelling fresher and odor free</p></li> 
          <li data-aos="slide-up"><img data-src="{{'temperature_regulation.png' | asset_url}}" alt="Temperature Regulation" class="lazyload"/><br><p><b class="text-green">temperature regulation</b><br>keeps you cooler in the summer and warmer in the winter</p></li> 
        </ul>
      </div>
  </section>
  
  <section class="index-padding tac accent-section">
    <p class="index-padding">Gekks is proud to use REPREVE polyester yarn - high quality, eco friendly fiber that is made of 100% recycled materials, including post-consumer water bottles and pre-consumer waste.</p>
  </section>
  <section class="index-padding-bo">
    <section class="flex-container-no accent-section">
      <div class="half background-beige" id="polyester">
      </div>
      <div class="half flex-container-no" id="repreve">
        <h2 class="text-green accent-padding">REPREVE has recycled over 10 million plastic bottles!</h2>
      </div>
    </section>
    <section class="flex-container-no accent-section">
      <div class="half background-lightgray" id="recycledresin">
      </div>
      <div class="half background-beige" id="plasticbottles">
      </div>
    </section>
  </section>
</main>

