    <main id="page">	     
	    	{%unless page.title == "SLVR Announcement" %}
	    <section class="background-green tac text-white page-header">
          <h1>{{ page.title }}</h1>
	    	
      	</section>
      	{% endunless %}
        <section class="index-padding">
          {{ page.content }}
          {% if page.title == "SLVR Announcement" %}
            <section class="accent-padding" style="max-width: 1100px; margin: 0 auto;">
              <h3 class="tac ttu text-green"><span style="font-weight: 300;">Your Purchase will help us continue to</span> Donate Gloves <span style="font-weight: 300">to other organizations in need</span></h3>
              <img src="{{'donation-map.jpeg' | asset_url}}" style="max-width: 100%;display: block;" class="ma"/>
            </section>
          {% endif %}
	    </section>
    </main>